/* body{
    text-align: c;
} */
th{
    width: 166px;
}
thead{
    text-align: center;
background-color: #f8dfef;
color: purple;
}
header{
    text-align: center;
}
header img{

width: 863px;
}
table{
    margin: 0 auto;
}
#good{
    text-align: right;
}
/* html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
  }
  
  table {
    width: 100%;
    height: 100%;
    border-collapse: collapse; /* Merge table borders */
  } */
